# Package Files #
*.jar
*.war
*.ear

# Intellij
.idea/
*.iml
*.iws

# Maven
log/
target/

# Inclusions
!lib/**

# Compiled Files
*.class
bin/
build/
/bin1/
java/build/**

one
dit
text1.txt
text2.txt
text3.txt
text4.txt

.DS_Store